node_modules/
static/
homework_05/node_modules/
homework_06/node_modules/
homework_07/secretMessage/node_modules/
homework_07/lectures/node_modules/
homework_08/findTheNearest3/node_modules/
angular-app/